parser/__pycache__/*
**/.DS_Store
.DS_Store
profil_context.pxd/
*.png
.venv/*
.vscode/*
parser/archive/*
.*
!.github
!.gitignore
parser/utilities/mastodon_starter.py
venv/*
parser/plenarlog.log
*.xml

parser/post.log
parser/mastodon_cred.py
