
# Mastodon

MASTODON_FIRST_CLIENT_ID = ''
MASTODON_FIRST_CLIENT_SECRET = ''
MASTODON_FIRST_EMAIL = ''
MASTODON_FIRST_PASSWORD = ''
MASTODON_FIRST_ACCESSTOKEN = ''

MASTODON_KONTEXT_CLIENT_ID = ''
MASTODON_KONTEXT_CLIENT_SECRET = ''
MASTODON_KONTEXT_EMAIL = ''
MASTODON_KONTEXT_PASSWORD = ''
MASTODON_KONTEXT_ACCESSTOKEN = ''

# Wahlperioden (optional, Default: 11-19)
# WAHLPERIODEN = 11,12,13,14,15,16,17,18,19
