
# Mastodon

MASTODON_FIRST_ACCESSTOKEN = ''
MASTODON_KONTEXT_ACCESSTOKEN = ''

# Mastodon instance (optional, Default: https://mastodon.social)
# MASTODON_INSTANCE = https://mastodon.social

# Wahlperioden (optional, Default: 12-19, WP11 is image-only)
# WAHLPERIODEN = 12,13,14,15,16,17,18,19



